*{
    margin: 30px;
    padding-top: 20px;
    height: 400px;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), #3582b5),
      url(../../ad.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }