<div class="con">
    <div class="f">
        <h1><span>Rina Florendo Irlandez</span>
            <p>I am 21 years of age. Currently residing at Barangay Tigbao Carigara, Leyte. A 3rd year college student of Eastern Visayas State University Carigara Campus
            taking up the course of Bachelor of Science in Information Technology . I am a person that full of dreams in life and believing that someday I can achieve all of those. My motivation in facing every challenges is believing my motto in life which  is"IF OTHERS CAN WHY CAN'T I</p></h1>
    </div>
       
</div>
