<script src="https://kit.fontawesome.com/0b044288ac.js" crossorigin="anonymous"></script>
<section>
    <div class="hero">
    <div class="f">
        <h1><span>Ma. Kathlyn A. Bugais</span>
            <p>Hi!!! My name is Ma. Kathlyn A. Bugais. I am 20 years old. I am currently residing in Pob. Dist.1 Barugo, Leyte. I am a very hardworking young woman with a dream of giving my mom a peaceful life. I always try my best to understand people because as they always says, every story has their own version and point of view. You can never say that the person is wrong because you didn't get to experience the things s/he experienced.</p></h1>
    </div>
       
</div>
