<script src="https://kit.fontawesome.com/0b044288ac.js" crossorigin="anonymous"></script>
<section>
    <div class="hero">

<form>
    <div class="row">
        <div class="input-group">
            <input type="text" id="name" required>
            <label for="name"><i class="fas fa-user"></i> Your Name</label>
        </div>
        <div class="input-group">
            <input type="text" id="number" required>
            <label for="number"><i class="fas fa-phone-alt"></i> Phone No.</label>
        </div>
    </div>
    <div class="input-group">
        <input type="email" id="email" required>
        <label for="email"><i class="fas fa-envelope"></i> Email</label>
    </div>
    <div class="input-group">
        <textarea id="message" rows="8"></textarea>
        <label for="message"><i class="fas fa-comments"></i> Your Message</label>
    </div>
    <button type="submit">SUBMIT <i class="fas fa-paper-plane"></i></button>

    
</form>

    </div>
</section>