<script src="https://kit.fontawesome.com/0b044288ac.js" crossorigin="anonymous"></script>
<section>
    <div class="hero">

<form>
    <div class="row">
        <div class="input-group">
            <input type="text">
            <label for="name">Contact Me on: </label>
        </div>
        <div class="input-group">
            <input type="text">
            <label for="number">0907 037 3820</label>
        </div>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">kathlynbugais@gmail.com</label>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">makathlyn.bugais@evsu.edu.ph</label>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">MSY CEAN KLYN</label>
    </div>

    
</form>

    </div>
</section>