<script src="https://kit.fontawesome.com/0b044288ac.js" crossorigin="anonymous"></script>
<section>
    <div class="hero">

<form>
    <div class="row">
        <div class="input-group">
            <input type="text">
            <label for="name">Contact Me on: </label>
        </div>
        <div class="input-group">
            <input type="text">
            <label for="number">09079325427</label>
        </div>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">umpacanjovelyn782@gmail.com</label>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">jovelyn.umpacan@evsu.edu.ph</label>
    </div>
    <div class="input-group">
        <input type="email">
        <label for="email">Jovelyn G. Umpacan</label>
    </div>

    
</form>

    </div>
</section>