* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), #3582b5),
    url(../../ad2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 90%;
  max-width: 600px;
}
.input-group {
  margin-bottom: 30px;
  position: relative;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}
button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
}
