<div class="gallery">
      <img src="../../assets/img1.jpg" width="600" height="400">
  </div>
  <div class="gallery">
    <img src="../../assets/img2.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img3.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img4.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img5.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img6.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img7.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img8.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img9.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img10.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img11.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img12.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img13.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img14.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img15.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img16.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img17.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img18.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img19.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img20.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img21.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img22.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img23.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img24.jpg" width="600" height="400">
</div>