<div class="gallery">
    <a target="_blank" href="../../assets/GIRLBEST.jpg">
      <img src="../../assets/GIRLBEST.jpg" width="600" height="400">
    </a>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../../assets/ME.jpg">
      <img src="../../assets/ME.jpg" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/1.jpg">
      <img src="../../assets/1.jpg" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/2.jpg">
      <img src="../../assets/2.jpg" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/3.jpg">
      <img src="../../assets/3.jpg" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/GIRLBEST.jpg">
      <img src="../../assets/GIRLBEST.jpg" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <a target="_blank" href="../../assets/ME.jpg">
      <img src="../../assets/ME.jpg" width="600" height="400">
    </a>
  </div>
