<div class="gallery">
      <img src="../../assets/img1.jpg" width="600" height="400">
  </div>
  <div class="gallery">
    <img src="../../assets/img2.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img3.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img4.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img5.jpg" width="600" height="400">
</div>
<div class="gallery">
  <img src="../../assets/img6.jpg" width="600" height="400">
</div>
