img{
    width: 100%;
    height: 100px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    background-color: black;
    text-align: center;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: lightblue;
    text-decoration: underline;
    transition: 0.4s;
  }