fieldset{
    height: 60px;
    margin-top:50px;
    border-radius: 5px;
    background: lightblue;
    border: 5px;
    text-align: center;
    }
    .hero {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgb(0, 0, 0, 0.7), #3582b5),
          url(../../ad2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
